.sidebar-admin img {
  width: 40%;
  height: 70%;
  margin-right: 5px;
}

.sidebar-admin .sidebar-full-height {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.sidebar-admin .sidebar-content {
  padding: 5px;
  overflow-x: auto;
  max-height: 100vh;
}

.sidebar-admin .nav-item {
  text-decoration: none;
  align-items: center;
  padding: 12px 16px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-admin .nav-item:hover {
  border-radius: 0.375rem;
  background-color: #3e4659;
  filter: brightness(150%);
}

.sidebar-admin .nav-icon:hover {
  border-radius: 0.375rem;
  background-color: #3e4659;
  filter: brightness(150%);
}

.sidebar-admin .nav-item.active {
  position: relative;
  background-color: #aaf5aa;
  color: #000;
  font-size: medium;
  border-radius: 5px;
}

.sidebar-admin .nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  z-index: 2;
}
