/* In your CSS file */
.tm-prodetails-quantitycart {
    display: flex;
    align-items: center
}
.input-group {
    display: flex;
    margin-left: 10px;
    align-items: center
}

.input-group button {
    border: none;
    background: none;
    cursor: pointer;
}